<% include ../partials/header %>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
          <h1><img class="img-fluid" src="/images/forteLogo.jpg" alt="LogoPic"></h1>
        <h1 class="text-center mb-3">
        Edit Your Profile
        </h1>
        <% include ../partials/messages %>
        <form method="POST">
            <div class="form-group">
                <label for="name">Name: </label>
                <input
                  type="name"
                  id="name"
                  name="name"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= name %>"
                />
                <br>
                <label for="instrument">Instrument: </label>
                <input
                  type="text"
                  id="instrument"
                  name="instrument"
                  class="form-control"
                  placeholder="Enter Instrument"
                  value="<%= instrument %>"
                />
                <br>
                <label for="aboutme">About me: </label>
                <textarea type="text"
                  id="aboutme"
                  name="aboutme"
                  class="form-control"
                  placeholder="Enter Something About You"
                  ><%= aboutme %></textarea>
              </div>
          <br>
          <button type="submit" class="btn btn-primary btn-block" id="edit_profile">Change Password</button>
          <br>
          <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
          <br>
        </form>
        <% if(type == 'student') { %>
            <a class="btn btn-primary btn-block" href="/studentPV">Back to Profile</a>
        <% }
          else { %>
            <a class="btn btn-primary btn-block" href="/teacherPV">Back to Profile</a>'
          <% } %>
      </div>
    </div>
  </div>

<% include ../partials/footer %>