body {
    background-color: white;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: min-content 1fr min-content;
}

header {
  grid-row: 1;
  grid-column: 1 / 4;
}


.container {
	grid-row: 2;
	grid-column: 1/4;

}

#teacher_form{
    visibility: hidden;
    height: 0px;
}

#student_form{
    visibility: hidden;
    height: 0px;
}