<% include ../partials/header %>


<div class="col-md-6 m-auto testPadding">
    <div class="card card-body mainCard">
        <h1><img class="img-fluid center" src="/images/forteShortLogo.png" alt="LogoPic"></h1>
        <h4 class="text-center mb-3">Change Password</h4>
        <br>
        <br>
        <% include ../partials/messages %>
        <form action="/forgot" method="POST">
            <div class="form-group">
                <label for="forgot">Enter Email to Receive Link:</label>
                <input type="email" id="forgot" name="forgot" class="form-control" placeholder="Enter Email"
                    value="<%= typeof name != 'undefined' ? name : '' %>" />
            </div>
            <% if(loggedin) { %>
            <button type="submit" class="btn btn-secondary btn-block" id="send_email">Send Link to Email</button>
            <% }
                    else { %>
            <button type="submit" class="btn btn-secondary btn-block" id="send_email">Send Email</button>
            <% } %>
            <button type="submit" class="btn btn-primary btn-block" id="send_email" formaction="/login">Back to
                Login</button>
        </form>
    </div>
</div>
<% include ../partials/footer %>
