<% include ../partials/header %>
<div class="col-md-6 m-auto testPadding">
    <div class="card card-body mainCard">
        <h1><img class="img-fluid center" src="/images/forteShortLogo.png" alt="LogoPic"></h1>
        <h4 class="center mb-3">Change Password</h4>
        <% include ../partials/messages %>
        <form action="/reset/:token" method="POST">
            <div class="form-group">
                <label for="forgot">Enter your Email Associated with Account:</label>
                <input type="email" id="forgot_email" name="forgot_email" class="form-control"
                    placeholder="Enter Email" value="" />
            </div>
            <div class="form-group">
                <label for="forgot">Enter your new password:</label>
                <input type="password" id="password" name="newPass1" class="form-control"
                    placeholder="Enter New Password" value="" />
            </div>
            <div class="form-group">
                <input type="password" id="password1" name="newPass2" class="form-control"
                    placeholder="Enter New Password" value="" />
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="new_password">Update Password</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>
