<% include ../partials/header %>


    <div class="col-md-6 m-auto testPadding">
        <div class="card card-body mainCard">
            <h1><img class="img-fluid center testTrans" src="/images/forteShortLogo.png" alt="LogoPic"></h1>
            <h4 class="text-center mb-3">Create Account or Login</h4>
            <img class="img-fluid center testTrans" src="https://www.freeholdmusic.com/wp-content/uploads/2014/06/music-lessons.jpg" alt="lessonPic">
            <br>
            <a href="/login" class="btn btn-secondary btn-block">Login</a>
            <a href="/registration" class="btn btn-primary btn-block mb-2">Register</a>
        </div>
    </div>

<% include ../partials/footer %>