<% include ../partials/header %>

    <div class="col-md-6 m-auto testPadding">
      <div class="card card-body mainCard">
      	<h1><img class="img-fluid center testTrans" src="/images/forteShortLogo.png" alt="LogoPic"></h1>
      <h3 class="text-center mb-3">Teacher Profile</h3>
      <div class="row">
      <h4 class="col-4">Name:</h4><h4 class="col-8"><small><%= name %></small></h4>
    </div>
      <div class="row">
        <h4 class="col-4">Instrument:</h4><h4 class="col-8"><small><%= instrument %> </small></h4>
      </div>
      <div class="row">
        <h4 class="col-4">About Me:</h4>
        <h4 class="col-8"><small><%= aboutme %></small></h4>
      </div>
      <br>
      <br>
      <a class="btn btn-primary btn-block" href="/booking<%=id%>">Book A Lesson</a>
    <a class="btn btn-primary btn-block" href="/student-dashboard">Back To Dashboard</a>
      </div>
    </div>

<% include ../partials/footer %> 
