<% include ../partials/header %>

<div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                    <h1><img class="img-fluid" src="/images/forteLogo.jpg" alt="LogoPic"></h1>
                <h1 class="text-center mb-3">Teacher Dashboard</h1>
                <p class="text-center lead mb-3">Welcome <%= name %>!</p>
                <h4>Upcoming Lessons</h4>
                <ul class="list-group pre-scrollable">
                    <%
                        if (upcoming) {
                            var rows = '';
                            upcoming.forEach((item) => {
                                let studentName = '';

                                teachers.forEach((data) => {
                                    if (data.id == item.users_usersid) {
                                        studentName = data.name;
                                    }
                                });

                                let date = item.date.toString();
                                let time = item.time.toString();
                                console.log('Time: ');
                                console.log(time);


                                rows += '<li class="list-group-item">Date: ' + date.slice(0,16);
                                rows += '</br>Time: ' + time.slice(0,5);
                                rows += '</br>Student: ' + studentName;
                                rows += '</br><a href="/teacher-lesson_info/' + '?id=' + item.meetingid + '&time=' + time.slice(0,5) + '&student=' + studentName + '&date=' + date.slice(0,16) + '&name=' + name +'" class="btn btn-outline-info">More Info</a>';
                                rows += '</li>';
                            }); %>
                            <%- rows %>
                    <% } %>
                </ul>
            </br>
                <a href="/set-availability" class="btn btn-secondary btn-block">Set Availability</a>
                <a href="/logout" class="btn btn-primary btn-block">Logout</a>
            </div>
        </div>
    </div>
    
<% include ../partials/footer %>
